# Ignore Everything
/*

# Except for these:
!/.gitignore
!/Assets
!/Library

Library/ScriptAssemblies/BuiltinAssemblies.stamp

Library/shadercompiler-UnityShaderCompiler.exe0.log

Library/ScriptAssemblies/BuiltinAssemblies.stamp

Library/ScriptAssemblies/BuiltinAssemblies.stamp

Library/ScriptAssemblies/BuiltinAssemblies.stamp
